<div class="login-page">
  <div class="login-card">

    <div class="brand">
      <span class="dot"></span>
      <span class="brand-name">TimeGuard</span>
    </div>

    <ng-container *ngIf="!success(); else doneTpl">
      <div class="card-header">
        <h1 class="card-title">Nouveau mot de passe</h1>
        <p class="card-sub">Choisissez le mot de passe de votre compte</p>
      </div>

      <form class="form" (ngSubmit)="submit()">

        <div class="field">
          <label class="flabel">Nouveau mot de passe <span class="req">*</span></label>
          <div class="input-wrap">
            <span class="field-icon">🔒</span>
            <input [type]="showPw() ? 'text' : 'password'"
                   class="inp" placeholder="••••••••"
                   [(ngModel)]="password" name="password"
                   autocomplete="new-password" [disabled]="loading()" />
            <button type="button" class="toggle-pw" (click)="togglePw()">
              {{ showPw() ? '🙈' : '👁' }}
            </button>
          </div>
        </div>

        <div class="field">
          <label class="flabel">Confirmer le mot de passe <span class="req">*</span></label>
          <div class="input-wrap">
            <span class="field-icon">🔒</span>
            <input [type]="showPw() ? 'text' : 'password'"
                   class="inp" placeholder="••••••••"
                   [(ngModel)]="confirmPassword" name="confirmPassword"
                   autocomplete="new-password" [disabled]="loading()" />
          </div>
        </div>

        <div class="error-banner" *ngIf="error()">
          ⚠ {{ error() }}
        </div>

        <button type="submit" class="btn-login" [disabled]="loading()">
          <span class="spinner" *ngIf="loading()"></span>
          <span *ngIf="!loading()">→ Mettre à jour le mot de passe</span>
          <span *ngIf="loading()">Mise à jour...</span>
        </button>

      </form>
    </ng-container>

    <ng-template #doneTpl>
      <div class="card-header">
        <h1 class="card-title">✓ Mot de passe mis à jour</h1>
        <p class="card-sub">Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>
      </div>
      <button type="button" class="btn-login" (click)="goToLogin()">→ Aller à la connexion</button>
    </ng-template>

  </div>
</div>
