<div class="form-card">
  <div class="form-header">
    <div class="form-icon">👤</div>
    <div class="form-titles">
      <div class="form-title">Informations Employé</div>
      <div class="form-sub">Identifiants, coordonnées et adresse</div>
    </div>
    <div class="form-actions">
      <ng-container *ngIf="auth.isAdmin()">
        <button *ngIf="editMode()" class="btn-cancel" (click)="cancelEdit()">✕ Annuler</button>
        <button class="btn-edit" [class.active]="editMode()" (click)="toggleEdit()">
          {{ editMode() ? '✓ Terminer' : '✏ Modifier' }}
        </button>
      </ng-container>
    </div>
  </div>

  <!-- Ligne 1 : Infos personnelles | Adresse -->
  <div class="form-row">

    <div class="col">
      <div class="section-label">Informations personnelles</div>
      <div class="fields-grid">
        <div *ngFor="let f of infoFields" class="field-row" [class.span-full]="f.span">
          <label>{{ f.label }}</label>
          <div class="input-wrap" [class.nas-wrap]="f.nas">
            <span class="input-icon">{{ f.icon }}</span>
            <input *ngIf="editMode()"
                   [value]="get(f.key)"
                   (input)="onInput(f.key, $event)"
                   [placeholder]="f.placeholder"
                   class="inp" [class.inp-nas]="f.nas" />
            <div *ngIf="!editMode()" class="readonly-val">
              <ng-container *ngIf="f.nas && get(f.key); else normalVal">
                <span class="nas-mask">●●● ●●● ●●●</span>
                <span class="badge-masked">Masqué</span>
              </ng-container>
              <ng-template #normalVal>
                <span *ngIf="get(f.key); else emptyVal">{{ get(f.key) }}</span>
                <ng-template #emptyVal><span class="placeholder-text">{{ f.placeholder }}</span></ng-template>
              </ng-template>
            </div>
            <span *ngIf="f.nas && editMode()" class="badge-conf">Confidentiel</span>
          </div>
        </div>
      </div>
    </div>

    <div class="divider-v"></div>

    <div class="col">
      <div class="section-label">Adresse</div>
      <div class="fields-grid">
        <div *ngFor="let f of addressFields" class="field-row" [class.span-full]="f.span">
          <label>{{ f.label }}</label>
          <div class="input-wrap">
            <span class="input-icon">{{ f.icon }}</span>
            <input *ngIf="editMode()"
                   [value]="get(f.key)"
                   (input)="onInput(f.key, $event)"
                   [placeholder]="f.placeholder"
                   class="inp" />
            <div *ngIf="!editMode()" class="readonly-val">
              <span *ngIf="get(f.key); else emptyAddr">{{ get(f.key) }}</span>
              <ng-template #emptyAddr><span class="placeholder-text">{{ f.placeholder }}</span></ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>